*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
#form{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding: 20px;
}
#todoDiv{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    flex-direction: column;
    margin: 10px;
}